
/* Causes text on all pages to become centered */
/* .App {
  text-align: center;
} */

.logo{
  max-width:150px;
  max-height: 150px;
}

/* Categories */
.categories-col{
  padding:5px;
}

.navlink {
  color: white;
      font-family: Vibur, cursive;
      font-size: 1.5rem;
      text-decoration: none
}
.navlink:hover {
  color: lightgrey;
}